body, .light {
  --background-color: white;
  --text-color: black;
  --second-background-color: gray;
}

.dark {
  --background-color: #424242;
  --text-color: white;
  --second-background-color: #212529;
}
