select {
  outline: 0;
  border: none;
  background: #34495e;
  flex: 1;
  padding: .5rem;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.5rem;
}

.selector {
  position: relative;
  display: flex;
  width: 20rem;
  height: 3rem;
  line-height: 3;
  overflow: hidden;
  border-radius: .5rem;
}

.selector:hover::after {
  color: var(--sub-color);
}

.selector::after {
  content: '\25BC';
  position: absolute;
  right: 0;
  padding: 0 1rem;
  background: #2c3e50;
  pointer-events: none;
  transition: color var(--transition-delay);
}
