@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  --transition-duration: .3s;
  --narbar-height: 4rem;

  margin: 0;
  margin-top: var(--narbar-height);
  background-color: var(--background-color);
  color: var(--text-color);
  transition-property: color, background-color;
  transition-duration: var(--transition-duration);
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.navbar {
  background-color: var(--second-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--narbar-height);
  border-bottom: 1px solid lightgreen;
}

.logo {
  margin: .5rem;
  width: 3rem;
}

.title {
  padding: 1rem 0;
  font-size: 3rem;
}

.form {
  margin: 1rem;
  text-align: left;
  display: inline-block;
}

.form > * {
  margin-bottom: 1rem;
  font-family: inherit;
  font-size: 1.5rem;
}

.hint {
  color: red;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  border: .15rem solid orange;
  border-radius: 5rem;
  color: var(--text-color);
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-duration);
  background-color: inherit;
  white-space: nowrap;
}

.btn:hover {
  background-color: orange;
}

.btn-small {
  padding: .5rem 1rem;
  font-size: 1rem;
}

.btn-big {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

.right {
  float: right;
}

.user-option {
  margin-left: auto;
  display: flex;
}

.user-option > * {
  margin: auto 1rem;
}

.avatar {
  width: 3rem;
  height: 3rem;
}

.avatar:hover {
  box-shadow: 0 0 1rem red;
}

.image {
  width: 10rem;
}
